In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import string
import re

In [4]:
df = pd.read_csv('bestsellers with categories.csv')

In [5]:
df.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

### Renaming some columns and correcting punctuations

In [8]:
df.rename(columns={"User Ratings" : "User_Rating"}, inplace=True)

In [10]:
df[df['Author'] == 'J. K. Rowling']

,Name,Author,User Rating,Reviews,Price,Year,Genre
155,Harry Potter and the Goblet of Fire: The Illus...,J. K. Rowling,4.9,7758,18,2019,Fiction
159,Harry Potter Paperback Box Set (Books 1-7),J. K. Rowling,4.8,13471,52,2016,Fiction

In [11]:
df[df['Author'] == 'J.K. Rowling']

,Name,Author,User Rating,Reviews,Price,Year,Genre
102,Fantastic Beasts and Where to Find Them: The O...,J.K. Rowling,4.7,4370,15,2016,Fiction
153,Harry Potter and the Chamber of Secrets: The I...,J.K. Rowling,4.9,19622,30,2016,Fiction
154,"Harry Potter and the Cursed Child, Parts 1 & 2...",J.K. Rowling,4.0,23973,12,2016,Fiction
156,Harry Potter and the Prisoner of Azkaban: The ...,J.K. Rowling,4.9,3146,30,2017,Fiction
157,Harry Potter and the Sorcerer's Stone: The Ill...,J.K. Rowling,4.9,10052,22,2016,Fiction
353,The Casual Vacancy,J.K. Rowling,3.3,9372,12,2012,Fiction

In [12]:
df.loc[df['Author'] == 'J. K. Rowling', 'Author'] = 'J.K. Rowling'

In [13]:
df['nameLen'] = df['Name'].apply(lambda x: len(x) - x.count(" "))

In [14]:
df['nameLen']

0      26
1      15
2      32
3      20
4      59
       ..
545    36
546    71
547    71
548    71
549    71
Name: nameLen, Length: 550, dtype: int64

In [15]:
punctuations = string.punctuation

In [16]:
print('List of punctuations: ', punctuations)

List of punctuations:  !"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [19]:
def count_punc(text):
    """This function counts the number of punctuations in a text"""
    count = sum(1 for char in text if char in punctuations)
    return round(count/(len(text) - text.count(" "))*100, 3)

In [20]:
df['punc%'] = df['Name'].apply(lambda x: countPunctuation(x))

TypeError: unsupported operand type(s) for /: 'int' and 'tuple'